* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("xmas.jpg");
    padding: 0 30px;
    text-align: center;
    
}

.buttonContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 38px;
        color: white;
        text-shadow: 2px -1px 5px #ff0000, 2px -1px 5px #0000ff;
    }

    .formContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 28px;
            color: white;
            margin-top: 15px;
        }

        input {
            margin: 20px 0 0 0;
            padding: 15px 20px;
            font-size: 24px;
            border: none;
            border-radius: 20px;
            text-align: center;
            outline: none;
        }
        .text {
            color: white;
            font-size: 16px;
            margin: 10px 0;
            text-shadow: 2px -1px 5px #ff0000, 2px -1px 5px #0000ff;
        }

        .btn {
            padding: 15px 50px;
            font-size: 24px;
            border: none;
            border-radius: 20px;
            background-color: green;
            color: white;
            cursor: pointer;
            transition: all 0.4s ease;

            &:hover {
                background-color: aqua;
                color: darkmagenta;
            }
        }
        .result {
            text-shadow: 2px -1px 5px #ff0000, 2px -1px 5px #0000ff;
        }
    }
}