* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("xmas.jpg");
    // background-image: linear-gradient(0deg,
    //         hsl(240deg 100% 20%) 0%,
    //         hsl(281deg 100% 21%) 13%,
    //         hsl(304deg 100% 23%) 24%,
    //         hsl(319deg 100% 30%) 33%,
    //         hsl(329deg 100% 36%) 41%,
    //         hsl(336deg 100% 41%) 49%,
    //         hsl(346deg 83% 51%) 56%,
    //         hsl(3deg 95% 61%) 63%,
    //         hsl(17deg 100% 59%) 70%,
    //         hsl(30deg 100% 55%) 77%,
    //         hsl(40deg 100% 50%) 84%,
    //         hsl(48deg 100% 50%) 91%,
    //         hsl(55deg 100% 50%) 100%);
}

.buttonContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 42px;
        color: white;
        text-shadow: 2px -1px 5px #ff0000, 2px -1px 5px #0000ff;
    }

    .formContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 28px;
            color: white;
            margin-top: 15px;
        }

        input {
            margin: 20px 0 0 0;
            padding: 15px 20px;
            font-size: 24px;
            border: none;
            border-radius: 10px;
            text-align: center;
            outline: none;
        }
        .text {
            color: white;
            font-size: 14px;
            margin: 5px 0;
            text-shadow: 2px -1px 5px #ff0000, 2px -1px 5px #0000ff;
        }

        .btn,
        .btn2 {
            padding: 15px 50px;
            font-size: 24px;
            border: none;
            border-radius: 10px;
            background-color: darkblue;
            color: white;
            cursor: pointer;
            transition: all 0.4s ease;

            &:hover {
                background-color: aqua;
                color: darkmagenta;
            }
        }
        .result {
            text-shadow: 2px -1px 5px #ff0000, 2px -1px 5px #0000ff;
        }
    }
}