* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("xmas.jpg");
}

.buttonContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttonContainer h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 42px;
  color: white;
  text-shadow: 2px -1px 5px #ff0000, 2px -1px 5px #0000ff;
}
.buttonContainer .formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttonContainer .formContainer h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
  color: white;
  margin-top: 15px;
}
.buttonContainer .formContainer input {
  margin: 20px 0 0 0;
  padding: 15px 20px;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  text-align: center;
  outline: none;
}
.buttonContainer .formContainer .text {
  color: white;
  font-size: 12px;
  margin: 10px 0;
  text-shadow: 2px -1px 5px #ff0000, 2px -1px 5px #0000ff;
}
.buttonContainer .formContainer .btn,
.buttonContainer .formContainer .btn2 {
  padding: 15px 50px;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease;
}
.buttonContainer .formContainer .btn:hover,
.buttonContainer .formContainer .btn2:hover {
  background-color: aqua;
  color: darkmagenta;
}
.buttonContainer .formContainer .result {
  text-shadow: 2px -1px 5px #ff0000, 2px -1px 5px #0000ff;
}
