* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.screen {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
    270deg,
    hsl(174deg 95% 8%) 0%,
    hsl(174deg 96% 8%) 29%,
    hsl(174deg 97% 9%) 43%,
    hsl(174deg 98% 10%) 57%,
    hsl(175deg 99% 11%) 71%,
    hsl(175deg 100% 12%) 100%
  );
    text-align: center;
    padding: 3% 7%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
h1 {
    margin-bottom: 3%;
}
.board {
    max-width: 500px;
    width: 350px;
    max-height: 500px;
    height: 350px;    
    margin: 4% auto;
    background-color:#72B01D;  
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4%;
    padding: 1%;    
}
.cell {
    width: 30%;
    height: 30%;
    background-color: #B2FFA9;
    color: black;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    font-weight: 800;
    &:hover {
        background-color: #B2FFA980;
    }
}
.new {
    background-color:#7C7287;
    padding: 10px 20px;
    cursor: pointer;    
    max-width: 500px;
    margin: 5% auto;
    border-radius: 50px;
    &:hover {
        background-color:#7C728780;
    }
}
.winColor {
    color: #7C7287;
    background-color: chocolate;
    font-size: 100px;
}
#whoWon {
    font-size: 32px;
    font-weight: 800;
    color: chocolate;
}
#whoGoes {
    font-size: 32px;
    font-weight: 800;
    color: chocolate;
}