button {
  background-color: #2F2963;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;
}
button.tang {
  background-color: #EF946C;
}
button.tang:hover {
  background-color: rgb(236.4969325153, 131.2607361963, 85.0030674847);
}
button.ecru {
  background-color: #C4A77D;
}
button.ecru:hover {
  background-color: rgb(188.0396825397, 155.126984127, 107.4603174603);
}
button.hgreen {
  background-color: #70877F;
}
button.hgreen:hover {
  background-color: rgb(100.4372469636, 121.0627530364, 113.8886639676);
}
button.dblue {
  background-color: #454372;
}
button.dblue:hover {
  background-color: rgb(59.2790055249, 57.5607734807, 97.9392265193);
}

.button91 {
  color: #fff;
  padding: 10px 20px;
  background-color: #2F2963;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}
.button91.tang {
  background-color: #EF946C;
}
.button91.tang:hover {
  background-color: rgb(236.4969325153, 131.2607361963, 85.0030674847);
}
.button91.dblue {
  background-color: #454372;
}
.button91.dblue:hover {
  background-color: rgb(59.2790055249, 57.5607734807, 97.9392265193);
}
.button91.lime {
  background-color: limegreen;
}
.button91.lime:hover {
  background-color: rgb(45, 184.5, 45);
}
.button91.red {
  background-color: red;
}
.button91.red:hover {
  background-color: rgb(229.5, 0, 0);
}
.button91:disabled {
  background-color: gray;
  cursor: default;
  opacity: 0.5;
}
.button91:disabled:hover {
  background-color: gray;
}

.button27 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.button27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button42 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow 0.2s;
}
.button42:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}